body {
    background-image: url('https://images.pexels.com/photos/3888585/pexels-photo-3888585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-attachment: fixed;   */
    background-size:cover;
    background-repeat:no-repeat;
    }
    body a {
        color:white;
    }
    .Add button {
        background-color: rgb(68, 165, 68);
        color:white;
        border-radius: 10px;
    }
    .Add button:hover {
       cursor:pointer;
    }
    .logo-pic{
        height: 100px;
    }
    .greet {
        margin-top:10px;
        color:white;
        font-family: Roboto;
        font-weight: 100;
        font-size:35px;
    }
     .header:hover {
        cursor:auto !important;
     }
    .album-name:hover{
        opacity: 0.5;
        cursor:pointer;
    }
    .Singer-name {
        font-size: 25px;
        text-align: end;
        display: block;
        width: 400px;
        margin-right: 0px;
    }
    .singer-img{
        display: inline-block;
        border-radius: 50%;
    }

    .image{
        height: 40px;
        border-radius: 50%;
    }
    .rows {
        display:flex;
        flex-direction: row;
        /* border-style: solid;
         border-color: black; 
         border-width: 3px; */
        margin-top:100px;
        /* border-radius: 50px; */
        width:1200px;
        margin-left:130px;
    }
    /* .rows div {
        flex:1;
        border-style:solid;
        border-color:white;
        border-width:1px;
    } */
    .rows .sr-no {
        flex:1;
        display:flex;
        flex-direction:column;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */
       
    }
    .rows .sr-no div {
        flex:1;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */

    }
    .rows .song-name {
        flex:6;
        display:flex;
        flex-direction:column;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */

    }
    .rows .song-name div {
        flex:1;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */
        border-left-color:black ;
        border-left-style:solid ;
        border-left-width:3px ;
    }
    .rows .Add div {
        flex:1;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */
        border-left-color:black ;
        border-left-style:solid ;
        border-left-width:3px ;
    }
  
    .rows .duration {
        flex:1;
        display:flex;
        flex-direction:column;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */
       
    }
    .rows .Add {
        flex:1;
        display:flex;
        flex-direction:column;
    }
    .rows .Add .add {
        flex:1;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */
        border-left-color:black ;
        border-left-style:solid ;
        border-left-width:3px ;
    }
    .rows .duration div {
        flex:1;
        /* border-style:solid;
        border-color:white;
        border-width:1px; */
        border-left-color:black ;
        border-left-style: solid;
        border-left-width:3px ;
    }
    .header  {
        color:white;
        text-decoration: underline;
        font-size:50px;
        text-align:center;
        border-bottom-color:black ;
        border-bottom-style:solid ;
        border-bottom-width:3px;
        padding-bottom:7px; 
    }
    .sr-no div {
        color:white;
        font-size:25px;
        text-align:center;
    }
    .song-name div {
        color:white;
        font-size:25px;
        text-align:center;
    }
    .song-name div:hover {
        cursor:pointer;
        text-decoration: underline;
    }
    .duration div {
        color:white;
        font-size:25px;
        text-align:center;
    }
    .Add div {
        color:white;
        font-size:25px;
        text-align:center;
    }
    .add {
        width:50px;
    }
    .album-header {
        display:flex;
        flex-direction:row;
        margin-left: 275px;
        margin-right:300px;
    }
    .album-logo-div {
        flex:1;
        border-radius:0px;
        border-color:grey;
        margin-right:10px;
    }
    .album-logo {
         height:183.9px; 
         width:185.64px;
         margin:0px;
    }
   .head-content {
    flex:4;
    display:flex;
    flex-direction:column;
    color:white;
    background-color: gray;
    height:183.9px;
   }
   .head-content:hover {
      opacity:0.5;
   }
   .album-name {
      font-size:50px;
      margin-bottom:20px;
      padding:20px;
   }
   .Singer-name {
     display:flex;
     flex-direction: row;
     margin-left:300px;
     /* font-size:30px; */
   }
   .singer-img {
    margin-left:10px;
    margin-bottom:15px;
   }
    .navi-bar {
        flex: 1;
        display:flex;
        flex-direction: row;
        position:fixed;
        z-index:100;
        background-color: transparent;
       
        top:0px;
        right:0px;
    }
    .navi-bar a {
        text-decoration: none;
    }
    .navi-bar div {
         color:white; 
         background-color: transparent;    
         flex:1;
         font-family: 'Times New Roman', Times, serif;
         font-size:24px;
         padding:10px;
         text-decoration: none ;
         padding:20px;
         opacity:0.7;
    }
    .footer {
        display:flex;
        flex-direction:row;
        margin-top: 150px;
    }
    .footer div {
        flex:1;
        background-color:black;
        color:white;
        font-family: Arial;
        font-size:20px;
        padding:12px;
        text-align: center;
    }
    .foot:hover {
        cursor:pointer;
        text-decoration: underline;
    }

